{% extends 'backendbase.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('modules.mediamanager.static', filename='css/main.css') }}">
{% endblock%}

{% block content%}
<div class="main_ctn">
    <header class="top_header">
        <h2>Media Manager</h2>
        <button type="button" id="btn_addmedia">Add Media</button>
    </header>
    <main class="media_ctn">
        <div id="media_ctn">
        </div>
    </main>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('modules.mediamanager.static', filename='js/main.js') }}"></script>
{% endblock%}