{% extends 'frontendbase.html' %}
{% block title %}Products View{% endblock %}
{% block content%}
<div>
    <div class="">
        <img src="{{product.imgpath}}" alt="">
    </div>
    <div>
        <h1>{{product.name}}</h1>
        <p>{{product.description}}</p>
    </div>
    <div>
        <form id="addCart">
            <input type="number" name="id" hidden value="{{product.id}}">
            <div>
                <input type="number" name="qty" id="" min="0" value="1">
            </div>
            <button type="submit">Add to Cart</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    addCart.addEventListener("submit", (evt) => {
        evt.preventDefault()
        var formData = new FormData(evt.target)

        fetch("{{ url_for('views.cartpages.cart_add') }}", {
            method: "POST",
            body: new URLSearchParams(formData).toString(),
            headers: {
                "Content-Type": "application/x-www-form-urlencoded ",
            },
        })
            .then((response) => {
                console.log(response.ok);
                if (response.ok) return response.json();

                // Create error manually and attach custom data
                const data = response.json();
                const error = new Error(`Response status: ${response.status}`);
                error.data = data; // 👈 custom property
                throw error;
            })
            .then((response) => {
                console.log(response)

            })
            .catch((err) => {
                console.error(err.message);
                //this.callback(err.data);
            });


        return false;
    })
</script>

{% endblock %}